<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.yocto.crops.poky.core.internal.launch.PokyLaunchConfigurationDelegate"
            id="org.yocto.crops.poky.core.launchConfigurationType"
            modes="run"
            name="Poky">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="org.yocto.crops.poky.core.connectionType"
            name="Poky">
      </connectionType>
      <connectionService
            connectionTypeId="org.yocto.crops.poky.core.connectionType"
            factory="org.yocto.crops.poky.core.internal.remote.PokyRemoteConnection$Factory"
            service="org.yocto.crops.poky.core.internal.remote.PokyRemoteConnection">
      </connectionService>
      <connectionService
            connectionTypeId="org.yocto.crops.poky.core.connectionType"
            factory="org.yocto.crops.poky.core.internal.remote.PokyRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <connectionService
            connectionTypeId="org.yocto.crops.poky.core.connectionType"
            factory="org.yocto.crops.poky.core.internal.remote.PokyRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.yocto.crops.poky.core.internal.launch.PokyLaunchDescriptorType"
            id="org.yocto.crops.poky.core.descriptorType"
            priority="5">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.projectNature"
                  value="org.yocto.crops.poky.core.pokyNature">
            </test>
         </enablement>
      </descriptorType>
      <configProvider
            class="org.yocto.crops.poky.core.internal.launch.PokyLaunchConfigurationProvider"
            descriptorType="org.yocto.crops.poky.core.descriptorType"
            priority="5">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.cdt.core.binaryFile"
            file-extensions="hex"
            id="org.yocto.crops.poky.core.contentType.hex"
            name="Poky Hex download file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="pokyNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.yocto.crops.poky.core.internal.PokyProjectNature">
         </run>
      </runtime>
      <builder
            id="com.qnx.tools.ide.qde.core.cbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="org.yocto.crops.poky.core.connectionType"
            provider="org.yocto.crops.poky.core.internal.remote.PokyLaunchTargetProvider">
      </launchTargetType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.buildConfigProvider">
      <provider
            class="org.yocto.crops.poky.core.internal.build.PokyBuildConfigurationProvider"
            id="org.yocto.crops.poky.core.provider"
            natureId="org.yocto.crops.core.pokyNature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.toolChainProvider">
      <provider
            class="org.yocto.crops.poky.core.internal.build.PokyToolChainProvider"
            id="org.yocto.crops.poky.core.toolChainProvider">
      </provider>
   </extension>
</plugin>